<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mariadb://localhost:3306/fresh_potatoes</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <mapping class="hu.freshpotatoes.model.Country"/>
        <mapping class="hu.freshpotatoes.model.Genre"/>
        <mapping class="hu.freshpotatoes.model.GenreMovie"/>
        <mapping class="hu.freshpotatoes.model.Movie"/>
        <mapping class="hu.freshpotatoes.model.ProductionsCountry"/>
        <mapping class="hu.freshpotatoes.model.Rate"/>
        <mapping class="hu.freshpotatoes.model.RefreshToken"/>
        <mapping class="hu.freshpotatoes.model.Role"/>
        <mapping class="hu.freshpotatoes.model.Staff"/>
        <mapping class="hu.freshpotatoes.model.StaffToleInMovie"/>
        <mapping class="hu.freshpotatoes.model.User"/>
    </session-factory>
</hibernate-configuration>